@mixin shd-basis-flex-layout {
  .shd-layout {
    min-width: 0;
  }

  .shd-flex-layout {
    display: flex;
  }

  .shd-spacing {
    width: 0;
    height: 0;
    display: none;
  }

  /* === Vertikale Darstellung === */
  .shd-flex-layout.shd-vertical {
    flex-direction: column;
  }

  .shd-flex-layout.shd-vertical.shd-with-spacing > .shd-spacing {
    height: $default-spacing;
    display: block;
  }

  /* === Horizontale Darstellung === */
  .shd-flex-layout.shd-horizontal {
    flex-direction: row;
  }

  .shd-flex-layout.shd-horizontal.shd-with-spacing > .shd-spacing {
    width: $default-spacing;
    display: inline-block;
  }
}