@import "../../basis/theme/VAADIN/themes/shd-basis/shd-basis-variables.scss";
@import "shd-basis-html-element";
@import "shd-basis-flex-layout";

.shd-app {
  background-color: $shd-white;
  width: 100%;
  height: 100%;
  color: $default-font-color;
  font: 400 16px/1.55 "Open Sans", sans-serif;
  padding: $default-spacing;

  @include shd-basis-flex-layout;
}
